<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Digital Postcards</title>
    <link rel="stylesheet" th:href="@{/styles/postcards/postcard-dualside-styles.css}"/>
</head>
<body>

<input type="checkbox" id="card-toggle">

<div class="scene">

    <div class="control-panel">
        <div class="left-side">
            <div class="icon-btn">
                <a th:href="@{/}" style="text-decoration: none; color: inherit;">🏠</a>
            </div>
        </div>

        <div class="right-side">
            <label for="card-toggle" class="icon-btn flip-trigger" title="Flip">↻</label>
        </div>
    </div>

    <div class="main-panel">

        <div class="auto-flip-wrapper">
            <div class="card-wrapper">

                <div class="card-face face-front">
                    <img th:src="${response.cardFrontImage ?: 'https://picsum.photos/id/1015/900/600'}"
                         alt="Cover"
                         class="cover-image">
                </div>

                <div class="card-face face-back">
                    <header class="card-header">
                        <div class="card-title"><h1 th:text="${response.title ?: 'Greetings!'}">Greetings!</h1></div>
                        <div class="stamp-wrapper">
                            <div class="stamp-frame">
                                <!--                                <img th:src="${response.cardStampImage ?: 'https://picsum.photos/id/1011/200/200'}" alt="2FaBe">-->
                                <img th:src="${response.cardStampImage ?: '/images/stamps/guardAnAngelStamp.png'}"
                                     alt="2FaBe">
                            </div>
                        </div>
                    </header>
                    <main style="flex-grow: 1;">
                        <textarea class="ruled-paper" placeholder="Your message is here..."
                                  th:text="${response.message ?: 'Have a nice day!'}" readonly></textarea>
                    </main>
                </div>

            </div>

        </div>
    </div>

</div>

</body>
</html>

